body {
    font font-family: fantasy;
    background-color: crimson;
    margin: 0;
    padding: 0;
    background-image: url(rangerboats-logo.jpg) ;
        background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    font-family: fantasy;
    color: azure;
    
        
}

#wrap {
    width: 70%
        margin: 0 auto;
}

header img{
    width: 50%;
    
}

header {
    background-color: black;
    padding: 10px;
    text-align: center;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: linear-gradient
}

nav {
    background-color: crimson;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
}

nav li {
    display: inline;
    padding: 20px;
    }
    
    nav ul {
    margin: 0;
    padding: 10px 30px;
     
}
    
    nav a {
    color: black;
    text-decoration: none;
    padding: 10px 30px;
      
}
    
    nav a :hover {
    color: blue;
    text-decoration: underline;
}
    
    section {
    padding: 10px; 
    background-color: gray; 
}

bgpic {
    width: 50%;
    float: right;
}

footer {
    background-color: #ec3d0f;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}