html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("mountains.jpg") no-repeat center top;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

header{
    margin: 20px;
}

nav{
    background-color: rgba(0,0,0,0.3);
    padding: 0.5em;
    text-align:center; 
    font-size: 18px;
}

nav li {
    display: inline; 
    color: white;
    font-family: 'Artifika', serif;
    padding: inherit;
}


nav li a{
    text-decoration: none;
    color: white;
}


section{
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    margin: 1em;
    color: white;
}

H1, p, li{
    color:white;
}

footer{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: white;
}